
/* /* scroll bar styles */
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #7d51a8, #8b56f5); /* Replace with your desired gradient */
  border-radius: 20px;
}


/* Mobile Styles */
@media only screen and (max-width: 600px) {
  /* Add your mobile styles here */
  /* For example: */
  .header_Clip{
    text-align: center;
    max-width: 100%;
    height:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -115px;
  }
  .subtitle{
    font-size:34px;
  }
  body {
    font-size: 14px;
  }
  h1,h2 {
    font-size: 19px;
  }
  .f-para{
    max-width: 300px;
    margin:auto;
  }
  p {
    font-size: 19px;
    line-height: 1.5;
  }
  .module-medium{
    padding-bottom:0;
  }
  .module{
    padding-top:40px;
    padding-bottom: 40px;
  }
  .alt-features-item{
    margin-bottom:45px;
  }
  .logo_pennywise{
  max-height:200px;
  width: auto;
  }

  /* Additional mobile styles for other elements */
}

/* Tablet Styles */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* Add your tablet styles here */
  /* For example: */
  .subtitle{
    font-size:35px;
  }
  body {
    font-size: 16px;
  }
  h1 {
    font-size: 28px;
  }
  p {
    font-size: 18px;
    line-height: 1.6;
  }
  .logo_pennywise{
  max-height:270px;
  width: auto;
  }
  .header_Clip{
    text-align: center;
    max-width: 100%;
    height:170px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -115px;
  }
  /* Additional tablet styles for other elements */
}

/* Desktop Styles */
@media only screen and (min-width: 1025px) {
  /* Add your desktop styles here */
  /* For example: */
  .header_Clip{
    text-align: center;
    max-width: 100%;
    height:180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -120px;
  }
  .subtitle{
  font-size:40px;
  }
  body {
    font-size: 18px;
  }
  h1 {
    font-size: 32px;
  }
  p {
    font-size: 20px;
    line-height: 1.7;
  }
  .logo_pennywise{
  max-height:270px;
  width: auto;
  }
  /* Additional desktop styles for other elements */
}

body {
  font-family: 'Jost', sans-serif;
  color: #333;
  background-color: #f5f5f5;
}
h1 {
  color: #555;
}
p {
  color: #777;
}
/* Additional common styles for other elements */


.titan-title-size-4{
  font-size:100px;
}

@media (max-width: 1000px) {
  .titan-title-size-4{
    font-size:50px;
  }
}

.clip_center{
  text-align: center;
}

.welcome_text{
  font-size:50px;
}
/*Carousel section*/

.msg-width{
  max-width:1000px;
  text-align: justify;
  text-justify: inter-word;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.subtitle{
  font-family: 'Dancing Script', cursive;
  padding-left:15px;
}
 #section-1 {
	 height: 38em;
	 color: #fff;
	 background-color: #222;
}
 #section-1 .content-slider {
	 position: relative;
	 width: 100%;
	 height: 100%;
}
 #section-1 .content-slider input {
	 display: none;
}
 #section-1 .content-slider .slider {
	 position: relative;
	 width: inherit;
	 height: inherit;
	 overflow: hidden;
}
 #section-1 .content-slider .slider .banner {
	 position: absolute;
	 top: 0;
	 left: 0;
	 opacity: 0;
	 z-index: 0;
	 width: inherit;
	 height: inherit;
	 text-align: center;
	 background-repeat: no-repeat;
	 background-position: 50% 50%;
	 transition: all .5s ease;
}
 #section-1 .content-slider .slider .banner .banner-inner-wrapper {
	 height: 100%;
	 padding-top: 0;
	 background-image: ;
	 box-sizing: border-box;
}
 #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
	 padding-bottom: 0.3em;
	 font-family: 'Kaushan Script', cursive;
	 font-weight: 400;
	 font-size: 2.5em;
	 text-transform: none;
}
 #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
	 font-size: 6em;
	 line-height: 95%;
}
 #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
	 display: block;
	 width: 4em;
	 height: 0.1875em;
	 margin: 2.5em auto;
	 background: #fff;
}
 #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button {
	 padding-bottom: 5em;
	 z-index: 15 !important;
}
 #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a {
	 padding: 0.5em 2em;
	 text-align: center;
	 font-family: Montserrat, sans-serif;
	 font-size: 0.875em;
	 color: #fff;
	 text-transform: uppercase;
	 border: 0.1875em solid #fff;
}
 #section-1 .content-slider .slider .banner .banner-inner-wrapper .learn-more-button a:hover {
	 color: white;
	 border-color: black;
	 transition: .3s;
}
 #section-1 .content-slider .slider #top-banner-1 {
	 background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-1.png') no-repeat center center;
	 background-size: cover;
}
 #section-1 .content-slider .slider #top-banner-2 {
	 background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-2.png') no-repeat center center;
	 background-size: cover;
}
 #section-1 .content-slider .slider #top-banner-3 {
	 background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-3.png') no-repeat center center;
	 background-size: cover;
}
 #section-1 .content-slider .slider #top-banner-4 {
	 background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-4.png') no-repeat center center;
	 background-size: cover;
}
 #section-1 .content-slider nav {
	 position: absolute;
	 bottom: 0.5em;
	 width: 100%;
	 z-index: 10;
	 text-align: center;
}
 #section-1 .content-slider nav .controls {
	 display: block;
	 width: 70%;
	 margin: 0 auto;
	 font-family: Montserrat, sans-serif;
	 color: #fff;
}
 #section-1 .content-slider nav .controls label {
	 position: relative;
	 display: inline-block;
	 width: 20%;
	 height: 3.1em;
	 overflow: hidden;
	 margin: 0 1em;
	 padding-top: 1em;
	 text-align: left;
	 text-transform: uppercase;
	 font-family: Montserrat, sans-serif;
	 font-size: 1em;
	 color: white;
	 font-weight: 400;
	 cursor: pointer;
	 transition: all .3s;
}
 #section-1 .content-slider nav .controls label .progressbar {
	 position: absolute;
	 top: 0;
	 left: 0;
	 height: 3px;
	 width: 100%;
	 background: white;
	 z-index: 100;
}
 #section-1 .content-slider nav .controls label .progressbar .progressbar-fill {
	 position: inherit;
	 width: inherit;
	 height: inherit;
	 margin-left: -100%;
	 background: black;
}
 #section-1 .content-slider nav .controls label span {
	 font-size: 1.4em;
	 font-weight: 700;
}
 #section-1 .content-slider nav .controls label:hover {
	 color: white;
}
 #section-1 .content-slider #banner1:checked ~ .slider #top-banner-1, #section-1 .content-slider #banner2:checked ~ .slider #top-banner-2, #section-1 .content-slider #banner3:checked ~ .slider #top-banner-3, #section-1 .content-slider #banner4:checked ~ .slider #top-banner-4 {
	 opacity: 1;
	 z-index: 1;
}
 #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1), #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2), #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3), #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) {
	 cursor: default;
	 color: #fff;
	 transition: all .5s;
}
 #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar, #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar, #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar, #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar {
	 background: #fff;
}
 #section-1 .content-slider #banner1:checked ~ nav label:nth-of-type(1) .progressbar-fill, #section-1 .content-slider #banner2:checked ~ nav label:nth-of-type(2) .progressbar-fill, #section-1 .content-slider #banner3:checked ~ nav label:nth-of-type(3) .progressbar-fill, #section-1 .content-slider #banner4:checked ~ nav label:nth-of-type(4) .progressbar-fill {
	 animation: progressBarFill 5s linear;
}
 @keyframes progressBarFill {
	 from {
		 margin-left: -100%;
	}
	 to {
		 margin-left: 0;
	}
}
 @media only screen and (min-width: 1920px) {
	 #intro{
		 font-size: 22px;
	}
	 .main-header .header-wrapper {
		 width: 57%;
	}
	 #section-1 {
		 height: 46em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper {
		 padding-top: 0;
	}
}
 @media only screen and (max-width: 1919px) {
	 #intro{
		 font-size: 20px;
	}
	 .main-header .header-wrapper {
		 width: 60%;
	}
	 #section-1 {
		 height: 43em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper {
		 padding-top: 0;
	}
}
 @media only screen and (max-width: 1680px) {
	 #intro{
		 font-size: 18px;
	}
	 .main-header .header-wrapper {
		 width: 65%;
	}
	 #section-1 {
		 height: 40em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper {
		 padding-top: 0;
	}
}
 @media only screen and (max-width: 1366px) {
	 #intro{
		 font-size: 16px;
	}
	 .main-header .header-wrapper {
		 width: 70%;
	}
}
 @media only screen and (max-width: 1120px) {
	 .main-header .header-wrapper .main-menu li {
		 padding: 0.75em 1.4em;
	}
	 #section-1 {
		 height: 35em;
	}
	 #section-1 .content-slider nav {
		 bottom: -0.2em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper {
		 padding-top: 0;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
		 margin: 2em auto;
	}
}
 @media only screen and (max-width: 1024px) {
	 #intro{
		 font-size: 14px;
	}
	 .main-header .header-wrapper .main-menu li {
		 padding: 0.75em 1.3em;
	}
	 #section-1 .content-slider nav {
		 bottom: 0;
	}
	 #section-1 .content-slider nav .controls {
		 width: 80%;
	}
}
 @media only screen and (max-width: 860px) {
	 .main-header .header-wrapper .main-menu li {
		 padding: 0.75em 0.9em;
	}
	 #section-1 {
		 height: 29em;
	}
	 #section-1 .content-slider nav {
		 bottom: -1em;
	}
	 #section-1 .content-slider nav .controls {
		 width: 90%;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
		 font-size: 2em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
		 font-size: 4.5em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper {
		 padding-top: 0;
	}
}
 @media only screen and (max-width: 768px) {
	 .main-header .header-wrapper .main-menu li {
		 padding: 0.75em 0.5em;
	}
	 #section-1 {
		 height: 27em;
	}
	 #section-1 .content-slider nav .controls {
		 width: 100%;
	}
	 #section-1 .content-slider nav .controls label {
		 width: 19%;
		 font-size: 0.8em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
		 margin: 1.7em auto;
	}
}
 @media only screen and (max-width: 650px) {
	 .main-header .header-wrapper {
		 width: 95%;
	}
}
 @media only screen and (max-width: 480px) {
	 .main-header .header-wrapper {
		 width: 97%;
	}
	 .main-header .header-wrapper .main-logo {
		 display: none;
	}
	 .main-header .header-wrapper .main-menu li {
		 padding: 0.2em 0.3em;
	}
	 .main-header .header-wrapper .main-menu li:last-child, .main-header .header-wrapper .main-menu li:nth-child(6) {
		 padding: 0.2em 0.7em;
	}
	 #section-1 {
		 height: 26em;
	}
	 #section-1 .content-slider nav {
		 bottom: -0.5em;
	}
	 #section-1 .content-slider nav .controls label {
		 width: 40%;
		 font-size: 0.7em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
		 font-size: 1.5em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
		 font-size: 3em;
	}
	 #section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
		 margin: 1.7em auto;
	}
}

/*features */
.feature-icon{
  max-width: 500px;
}

.main{
  background:#f5f5f5;
}

.f-para{
  font-size:15px;
}
