/* scroll bar styles */
::-webkit-scrollbar {
  width: 10px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #d6b8f5, #7d51a8); /* Replace with your desired gradient */
  border-radius: 1px;
}

.hidden{
  display:none;
}
.mobile_only {
  display: none;
}
/* navigation styles=  */

  @media (max-width: 576px) {
    .mobile_only {
      display: block;
    }
    .desktop_only{
      display:none;
    }
    nav{
      text-align: center;
    }
      .navbar-brand img {
          height: 30px;
          margin-right: 5px;
      }

      .navbar-brand {
          font-size: 1rem;
      }

      .navbar-collapse {
          margin-top: 10px;
      }

  }

  @media (min-width: 577px) and (max-width: 768px) {
      .navbar-brand img {
          height: 35px;
          margin-right: 5px;
      }

      .navbar-brand {
          font-size: 1.1rem;
      }

  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transition: background-color 0.3s;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  .btn-dark{
    text-align: center;
    border:2px;
    border-radius: 20px;
  }
  .btn-dark:hover{
    background-color: #d6b8f5;
  }
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    transform: translate3d(-110px, 0, 0); /* Adjust the value as needed */
  }


/* Responsive Styles for Mobile */
@media (max-width: 767px) {
  /* Nav Bar */
  .navbar-nav {
    margin-left: 0;
  }
  .nav-item {
    margin-right: 10px;
  }
  .navbar-collapse {
    justify-content: center;
  }

  /* Head */
  .head {
    padding-top: 30px;
    padding-bottom: 30px;
  }
  h1 {
    font-size: 36px;
  }

  /* User Input Form */
  .inp-form {
    max-width: 90%;
    margin: 30px auto 30px auto;
    padding: 10px 15px 20px 15px;
  }
  .inp-form label {
    font-size: 16px;
    margin-top: 10px;
  }
  .inp-form button {
    width: 40px;
    height: 40px;
    font-size: 16px;
  }

  /* Linear Analysis */
  .third {
    padding-top: 30px;
    padding-bottom: 50px;
  }
  .cent {
    font-size: 32px;
  }
  .inp-form {
    max-width: 90%;
    margin: 20px auto 30px auto;
    padding: 10px 15px 15px 15px;
  }
  .inp-form input {
    font-size: 14px;
  }
  .chart_responsive {
    max-width: 90%;
    min-width:85%;
    max-height:300px;
    margin:auto;
  }

  /* Links to Other Pages */
  .forth {
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

/* Responsive Styles for Tablets */
@media (min-width: 768px) and (max-width: 1023px) {
  /* User Input Form */
  .inp-form {
    max-width: 80%;
  }
  .inp-form input {
    font-size: 16px;
  }
  .inp-form button {
    width: 45px;
    height: 45px;
    font-size: 18px;
  }

  /* Linear Analysis */
  .third {
    padding-top: 40px;
    padding-bottom: 60px;
    text-align:center;
  }
  .cent {
    font-size: 36px;
  }
  .inp-form {
    max-width: 80%;
    margin-bottom: 40px;
  }
  .inp-form input {
    font-size: 18px;
  }
  .chart_responsive {
    max-width: 90%;
    min-height: 300px;
    margin:auto;
  }

  /* Links to Other Pages */
  .forth {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}
/*nav bar styles*/
.navbar{
  background-color: black;
  color:white;
}
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
.navbar-brand:hover {
  font-weight: bold;
  font-size: 24px;
  color: #7d51a8;
}
.navbar-brand img {
  height: 30px;
  margin-right: 10px;
}
.navbar-nav {
  margin: auto;
}
.nav-item {
  margin-right: 20px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #7d51a8;
}
.navbar-collapse {
  justify-content: flex-end;
}
.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;
  }
  .nav-item {
    margin-right: 10px;
  }
  .navbar-collapse {
    justify-content: center;
  }
}

/*body heading styles*/
body {
      font-family: 'Jost', sans-serif;
      background:#7d51a8;
      color:white;
    }
    .head {
      background-color: #401c64;
      color:white;
      max-width:100% ;
      margin: auto;
      text-align: center;
      padding-top: 50px;
      padding-bottom:40px;
    }
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 24px;
      margin:0;
    }


/*  User input form styles */
.second{
  background-color: #633491;
  padding-top:50px;
  padding-bottom: 75px;
}
h2.cent{
  text-align: center;
  font-size:40px;
}

.inp-form {
  position: relative;
  max-width: 480px;
  width: 80%;
  margin: 30px auto 60px auto;
  background: #f5f5f5;
  padding:10px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.inp-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  margin-top:12px;
}

.inp-form input,
.inp-form textarea {
  width: 100%;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease-in-out;
}

.inp-form input:focus,
.inp-form textarea:focus {
  outline: none;
  box-shadow: inset 0 2px 5px #7e05fc;
}

.inp-form button {
  position: absolute;
  right: 20px;
  bottom: -30px;
  background: #aa5dfc;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.inp-form button:hover {
  background: #4e1387;
}


/* google chart styles */
  #linechart_material {
    background-color: white;
    margin: 0 auto;
    padding:30px 30px;
    display: flex;
    justify-content: center;
    max-width:1150px;
    min-height:500px;
  }
  #linechart_material > div {
    margin: 0 auto;
  }
  #piechart_3d{
    text-align: center;margin:auto;width: 900px; height: 500px;
  }

.cat-text{
  text-align: center;
  margin-top:100px;
  margin-bottom: 20px;
  margin-right:auto;
  margin-left:auto;
}

/* external links  */
.forth{
  max-width: 100%;
  background-color: #7d51a8;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.dash-link {
  color:white;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      margin: 0 2rem;
      border-radius: 2rem;
      background-color: #401c64;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: all 0.2s ease-in-out;
    }
    .dash-link:hover {
      color:white;
      background-color: #290d45;
    }
    .dash-link:focus, .dash-link:active {
      box-shadow: none;
      outline: none;
      background-color: #290d45;
    }
    .dash-link:disabled {
      background-color: #adb5bd;
      cursor: not-allowed;
    }
