/* scroll bar styles */
::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(135deg, #d6b8f5, #7d51a8); /* Replace with your desired gradient */
  border-radius: 10px;
}

.mobile_only {
  display: none;
}
/* navigation styles=  */

  @media (max-width: 576px) {
    ::-webkit-scrollbar {
      height:4px;
      background-color: transparent;
    }

    ::-webkit-scrollbar-thumb {
      background: linear-gradient(135deg, #d6b8f5, #7d51a8); /* Replace with your desired gradient */
      border-radius: 10px;
    }
    .mobile_only {
      display: block;
    }
    .desktop_only{
      display:none;
    }
    nav{
      text-align: center;
    }
      .navbar-brand img {
          height: 30px;
          margin-right: 5px;
      }

      .navbar-brand {
          font-size: 1rem;
      }

      .navbar-collapse {
          margin-top: 10px;
      }

  }

  @media (min-width: 577px) and (max-width: 768px) {
      .navbar-brand img {
          height: 35px;
          margin-right: 5px;
      }

      .navbar-brand {
          font-size: 1.1rem;
      }

  }

  .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
  }

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    transition: background-color 0.3s;
  }

  .dropdown-item:hover,
  .dropdown-item:focus {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
  }

  .btn-dark{
    text-align: center;
    border:2px;
    border-radius: 20px;
  }
  .btn-dark:hover{
    background-color: #d6b8f5;
  }
  .navbar-nav .nav-item.dropdown .dropdown-menu {
    transform: translate3d(-120px, 0, 0); /* Adjust the value as needed */
  }




/* responsive design */

@media (max-width: 576px) {
  .dash_link{
    margin-top:20px;
    text-align: center;
    width:auto;
    margin-left: auto;
    margin-right: auto;
  }
  .card {
    max-width: 300px;
    margin: 10px;
  }
  .card-header {
    font-size: 16px;
    padding: 10px;
  }
  .card-body {
    padding: 10px;
  }

  .del-but {
    margin-top:20px;
    top: 5px;
    right: 5px;
  }
  .desktop-only {
      display: none;
    }

  .responsive-h1 {
    font-size: 35px; /* Adjust the font size as per your preference */
  }

  .table-responsive {
    overflow-x: auto;
  }

  .table-responsive table {
    width: 100%;
  }

  .table-responsive table thead th,
  .table-responsive table tbody td {
    white-space: nowrap;
  }


    .navbar-brand img {
        height: 30px;
        margin-right: 5px;
    }

    .navbar-brand {
        font-size: 1rem;
    }

    .navbar-collapse {
        margin-top: 10px;
    }

    .head {
        padding-top: 30px;
    }

    .second {
        padding: 20px;
    }

    .scrolling-wrapper {
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        margin: 10px -20px;
    }

    .scrolling-wrapper .my-5 {
        margin: 0 5px;
        flex: 0 0 auto;
        max-width: calc(100% - 10px);
    }

    .del-but {
        font-size: 1rem;
        padding: 5px 10px;
        position: absolute;
        top: 110px;
        right: 10px;
    }

    .third {
        padding: 20px;
    }

    .hide_or_not {
        margin-bottom: 10px;
    }

    #no_element {
        margin-top: 20px;
    }

    .forth {
        padding: 50px;
    }

    .dash_link {
      font-size: 0.8rem;
      padding: 5px 10px;
      margin-bottom: 20px;
      width:auto;
      margin-left:auto;
      margin-right:auto;
    }
}

@media (min-width: 577px) and (max-width: 768px) {

    .navbar-brand img {
        height: 35px;
        margin-right: 5px;
    }

    .navbar-brand {
        font-size: 1.1rem;
    }

    .head {
        padding-top: 40px;
    }

    .second {
        padding: 30px;
    }

    .scrolling-wrapper .my-5 {
        max-width: calc(50% - 10px);
    }


    .del-but {
        font-size: 1.2rem;
        padding: 6px 12px;
    }

    .third {
        padding: 30px;
    }

    .hide_or_not {
        margin-bottom: 20px;
    }

    .forth {
        padding: 50px;
    }
}

/* Additional media queries for tablet and larger screens if needed */

@media (min-width: 769px) {
    /* ... custom styles for tablet and larger screens ... */
}

@media (min-width: 992px) {
    /* ... custom styles for larger screens ... */
}

@media (min-width: 1200px) {
    /* ... custom styles for larger screens ... */
}

/* Styles for mobile-specific elements */

@media (max-width: 576px) {
    .hist-form {
        max-width: 300px;
        margin: 0 auto;
    }

    .hist-form .form-group {
        margin-bottom: 10px;
    }

    .hist-form .input-group-prepend,
    .hist-form .input-group-append {
        display: flex;
        flex-direction: column;
    }

    .hist-form .input-group-text {
        width: 100%;
    }

    .hist-form .form-control {
        width: 100%;
    }
}

@media only screen and (min-width: 601px) and (max-width: 1024px) {
  /* ... previous CSS rules for tablet devices ... */

  /* Reduce size of cards */
  .card {
    max-width: 400px;
    margin: 15px;
  }
  .card-header {
    font-size: 18px;
    padding: 15px;
  }
  .card-body {
    padding: 15px;
  }
}

/*nav bar styles*/

#data-table-body{
  text-align: center;
}
.hidden{
  display:none;
}
.navbar{
  background-color: black;
  color:white;
}
.navbar-brand {
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
.navbar-brand:hover {
  font-weight: bold;
  font-size: 24px;
  color: #7d51a8;
}
.navbar-brand img {
  height: 30px;
  margin-right: 10px;
}
.navbar-nav {
  margin: auto;
}
.nav-item {
  margin-right: 20px;
}
.nav-link {
  color: #fff;
}
.nav-link:hover {
  color: #7d51a8;
}
.navbar-collapse {
  justify-content: flex-end;
}
.page-title {
  font-size: 28px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .navbar-nav {
    margin-left: 0;
  }
  .nav-item {
    margin-right: 10px;
  }
  .navbar-collapse {
    justify-content: center;
  }
}
/*body heading styles*/
body {
      font-family: 'Jost', sans-serif;
      background:#401c64;
      color:white;
    }
    .head {
      max-width: 500px;
      margin: auto;
      text-align: center;
      padding-top: 50px;
      padding-bottom:40px;
    }
    h1 {
      font-size: 48px;
    }
    p {
      font-size: 24px;
      margin:0;
    }

/* Dashboard User input form styles */
.second{
  background-color: #633491;
  color:white;
  padding-top:40px;
  padding-bottom: 75px;
}
h2.cent{
  text-align: center;
}

.inp-form {
  position: relative;
  max-width: 480px;
  width: 100%;
  margin: 30px auto 60px auto;
  background: #f5f5f5;
  padding:10px 20px 30px 20px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.inp-form label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  color: #333;
  margin-top:12px;
}

.inp-form input,
.inp-form textarea,.inp-form select{
  width: 100%;
  display: block;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-family: inherit;
  background: #fff;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.16);
  transition: all 0.3s ease-in-out;
}


.inp-form input:focus,
.inp-form textarea:focus {
  outline: none;
  box-shadow: inset 0 2px 5px #7e05fc;
}

.inp-form button,
.cross {
  position: absolute;
  right: 20px;
  bottom: -30px;
  background: #aa5dfc;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.inp-form button:hover,
.cross button:hover {
  background: #4e1387;
}

@media (max-width: 767px) {
  .inp-form{
    margin: 20px auto 40px auto;
  }

  .inp-form input,
  .inp-form textarea,.cross {
    font-size: 14px;
    padding: 8px;
  }

  .inp-form label,.cross {
    font-size: 16px;
  }

  .inp-form button{
    width: 40px;
    height: 40px;
    bottom: -20px;
  }
  .cross{
    width: 40px;
    height: 40px;
  }
}

/* Dashboard card notes styles */
.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
   &::-webkit-scrollbar {
    /* display: none; */
  }

  .card {
    margin: 0 20px;
    display: inline-block;
    min-width: 200px;
    min-height: 100px;
  }
}

  .blockquote-custom {
  position: relative;
  font-size: 1.1rem;
  margin-bottom:0;
  }

  .card_p{
    font-size: 1.1rem;
    color:black;
  }

  .blockquote-custom-icon {
    color:white;
    background: #4e1387;
  width: 120px;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -40px;
  left: 19px;
  }

  .del-but {
    position: absolute;
    right: 20px;
    bottom: -30px;
    background: #aa5dfc;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
    outline: none;
    transition: all 0.3s ease-in-out;
  }

  .del-but:hover {
    background: #4e1387;
  }

/* dashboard history */

.third{
  background-color:#401c64;
  color:white;
  padding-top:50px;
  padding-bottom: 75px;
}

.hist-form{
  position: relative;
  width: 480px;
  margin: 30px auto 60px auto;
  background: #fff;
  color:black;
  padding: 15px;
  border-radius: 7px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}
.form-group {
      margin-bottom: 1rem;
    }
    .btn-primary {
      margin-top: 1rem;
    }
    .input-group-text {
      background-color:black;
      cursor: pointer;
      color:purple;
    }

    .history-but {
      position: absolute;
      right: 38px;
      bottom: -18px;
      background: #7c44b3;
      color: #fff;
      border: none;
      border-radius: 10%;
      width: 76px;
      height: 36px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      outline: none;
    }
    .history-but:hover{
      background-color:#aa5dfc;
    }

    .mid_button {
      border-radius: 5%;
      background-color: #7c44b3;
      border: none; /* Remove default border */
      color: white; /* Text color */
      padding: 10px 30px; /* Padding for button */
      text-align: center; /* Center text horizontally */
      text-decoration: none; /* Remove underline */
      display: inline-block; /* Display as a block element */
      font-size: 16px; /* Font size */
      cursor: pointer; /* Change cursor to pointer */
    }

    .mid_button:hover {
      background-color: #aa5dfc;
    }
/* table styles  */
.summarytable{
  text-align:center;
  margin:auto;
}
.summarytable table{
  max-width:500px;
  text-align:center;
  margin:auto;
}
.summarytable h2{
  margin-top:50px;
  margin-bottom:20px;
}
.summarytable th{
  background:#aa5dfc;
}
table {
      width: 100%;
      border-collapse: collapse;
      margin: 2rem 0;
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.5;
      color: #212529;
      background-color: #fff;
      border: 1px solid #dee2e6;
    }
    th, td {
      padding: 0.75rem;
      vertical-align: top;
      border-top: 1px solid #dee2e6;
      border-right: 1px solid #dee2e6;
    }
    th:first-child, td:first-child {
      border-left: 1px solid #dee2e6;
    }
    th {
      text-align: inherit;
      background-color: #7c44b3;
      color: #fff;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.05em;
    }
    /* tbody tr:nth-of-type(even) {
      background-color: #b8daff;
    } */
    tbody tr:hover {
      background-color: #d6b8f5;
    }

/* external links  */
.forth{
  height:auto;
  background: #7d51a8;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.forth{
  background: #7d51a8;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  height:auto;
}
.dash_link {
  color:white;
      font-size: 1rem;
      font-weight: bold;
      padding: 0.5rem 1rem;
      margin: 0 2rem;
      border-radius: 2rem;
      background-color: #401c64;
      border: none;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      transition: all 0.2s ease-in-out;
    }
    .dash_link:hover {
        color:white;
      background-color: #290d45;
    }
    .dash_link:focus, .dash_link:active {
      box-shadow: none;
      outline: none;
      background-color: #290d45;
    }
    .dash_link:disabled {
      background-color: #290d45;
      cursor: not-allowed;
    }
.hloan{
  background: #401c64;
  color:white;
  text-align:center;
  margin:auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
